RewriteEngine On
RewriteBase /

# Redirect requests to correct index.php files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/([^/]+)/?$ api/$1/index.php [L]

# Send all other requests to main index.php
RewriteRule ^$ index.php [QSA,L]
