RewriteEngine On
RewriteBase /

# Allow access to API subfolders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/quotes/?$ api/quotes/index.php [L]
RewriteRule ^api/authors/?$ api/authors/index.php [L]
RewriteRule ^api/categories/?$ api/categories/index.php [L]

# Redirect API root to index.html
DirectoryIndex index.html index.php
